/* dark-mode.css */

/* Add dark mode styles if the user has the dark-mode preference */
body.dark-mode {
	background-color: #121212;
	color: #ecf0f1;
}

body.dark-mode header {
	background-color: #34495e;
}

body.dark-mode nav ul li a {
	color: #ecf0f1;
}

body.dark-mode nav ul li a:hover {
	color: #3498db;
}

body.dark-mode section {
	background-color: #1e1e1e;
	border-radius: 8px;
}

body.dark-mode footer {
	background-color: #34495e;
}