/* 管理员登录按钮样式 */
.manager-login-button {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
	margin-left: 20px;
}

.manager-login-button:hover {
	background-color: #555;
}

/* 管理员登录表单样式 */
.manager-login-form {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	display: none;
	flex-direction: column;
}

.manager-login-form.active {
	display: flex;
}

.manager-login-form h2 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #333;
}

.manager-login-form .form-group {
	margin-bottom: 20px;
}

.manager-login-form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #333;
}

.manager-login-form input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

.manager-login-form button {
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

.manager-login-form button:hover {
	background-color: #555;
}